Your Golang application has been generated!  For more reading, try these resources:

* Routing/Rendering: https://github.com/gin-gonic/gin
* Database access: http://jinzhu.me/gorm/
* Database migrations: https://github.com/mattes/migrate
* CLI commands: https://github.com/urfave/cli

Before you start working on your app, you should complete vendoring your dependencies:

$ go get github.com/tools/godep
$ godep restore
$ godep save

Enjoy!
