package main

import (
	"os"

	"{{.ImportPrefix}}/{{.Name}}/commands"
	"github.com/urfave/cli"
)

func main() {
	app := cli.NewApp()
	app.Name = "{{.Name}}"
	app.Version = "0.0.1"
	app.Commands = []cli.Command{
		commands.NewServerCommand(),
	}
	app.Flags = []cli.Flag{
		cli.BoolFlag{
			Name:   "development",
			Usage:  "Run in development mode",
			EnvVar: "DEVELOPMENT",
		},
	}

	app.Run(os.Args)
}
