# {{.Name}}

This is a new Go application created using the `construct` templating helper.  Replace this text with a description of your application.


## Building

This application can be built with the standard `go build` toolchain.


## Testing

This application can be tested with the standard `go test` toolchain.


## Contributing

1. Fork it
1. Create your feature branch (`git checkout -b my-new-feature`)
1. Commit your changes (`git commit -am 'Add some feature'`)
1. Push to the branch (`git push origin my-new-feature`)
1. Ensure your changes are compliant with `go fmt` and `go vet`
1. Create new Pull Request
