CREATE TABLE {{.PluralName}} (
  id uuid primary key default uuid_generate_v4(),

  # Add more attributes here.
  
  created_at timestamp with time zone default current_timestamp,
  updated_at timestamp with time zone default current_timestamp
);
